[[entries]]
id = "4b472d25-2152-41f5-a048-fe28f8078b51"
type = "feature"
description = "Add `version_spec` argument to `black()`, `flake8()`, `isort()`, `mypy()`, `pycln()`, `pylint()` and `pyupgrade()` factory functions"
author = "niklas.rosenstein@helsing.ai"

[[entries]]
id = "64923afc-d71a-4a6a-bd5b-c31418acdef4"
type = "improvement"
description = "Drastically improve the performance of `kraken.common.findpython.get_candidates()` on Windows and WSL where you would until now test the entire C:/Windows/System32 folder for executable access."
author = "@NiklasRosenstein"

[[entries]]
id = "f0b6da17-e82e-451b-b919-81529b97cd30"
type = "feature"
description = "Add `kraken.build` module which allows importing the current `context` and `project` from a build script as if calling `Context.current()` or `Project.current()`"
author = "@NiklasRosenstein"

[[entries]]
id = "3bcf3259-8bb2-4c3c-83d8-e5fccd187719"
type = "feature"
description = "Add a `PexBuildTask` and add support for most Python tooling tasks to defer to an alternative binary (which the DAG builder can use to point to a PEX)"
author = "niklas.rosenstein@helsing.ai"
