[[entries]]
id = "adc17a2c-58fc-48e5-a476-2bcfccb26a21"
type = "fix"
description = "Do not fail when building the same PEX file twice"
author = "@Tpt"

[[entries]]
id = "654174ac-b3d2-476a-b761-e65c8f4dd8a5"
type = "fix"
description = "Fixed an issue where when the DaemonController fails to start the daemon process, the fork of the Kraken process continues, resulting in two copies of the process trying to run to completion, e.g. executing tasks from this point on."
author = "niklas.rosenstein@helsing.ai"

[[entries]]
id = "38ef4850-c7b2-435e-8801-f4fe50070be8"
type = "improvement"
description = "Remove mitmweb dependency, install it with PEX instead. Print mitmweb proxy and UI URLs in the CargoAuthProxy task"
author = "niklas.rosenstein@helsing.ai"
