release-date = "2022-08-05"

[[entries]]
id = "ae31b052-0981-492c-a097-1afea19fbd1f"
type = "deprecation"
description = "Deprecate `Task.capture` and `Project.do(capture)` with warnings"
author = "@NiklasRosenstein"

[[entries]]
id = "7b58b52c-2daa-4c9c-b248-f4b69e3d95ec"
type = "fix"
description = "The task graph now keeps track of tasks that return `TaskStatusType.STARTED` and will reset their status when the graph targets are set (`TaskGraph.set_target()`) which is usually after the TaskGraph was deserialized. This will ensure that background tasks are run again if another task that has not yet run is executed in a resumed execution."
author = "@NiklasRosenstein"
