release-date = "2022-08-06"

[[entries]]
id = "c12eca50-f5ae-4c23-8baa-9f11171985fb"
type = "improvement"
description = "add `cargo_sync_config(check)` parameter, enabled by default, to create a check task"
author = "@NiklasRosenstein"

[[entries]]
id = "16a6b247-dc96-4007-b189-b7830875e8cc"
type = "improvement"
description = "`gitignore()` now also generates a check task"
author = "@NiklasRosenstein"

[[entries]]
id = "e6f93e0a-e6c0-4704-ad57-f0eea64016d7"
type = "improvement"
description = "`PythonBuildSystem` now has a class-level `name` attribute"
author = "@NiklasRosenstein"

[[entries]]
id = "384bcb08-f051-4442-bac6-b2490467307d"
type = "improvement"
description = "add task descriptions for Python tasks"
author = "@NiklasRosenstein"

[[entries]]
id = "5f868c43-c4c1-4a2e-bece-83508221fe28"
type = "improvement"
description = "Add descriptions to Cargo tasks and Python build/install tasks"
author = "@NiklasRosenstein"

[[entries]]
id = "d1183b6e-1096-4134-b531-05d1366c633c"
type = "improvement"
description = "Task generates with `RenderFileTask.make_check_task()` now non-strictly depends on the render file task. This is to ensure that if both tasks are to run in the same build, the render task comes first."
author = "@NiklasRosenstein"

[[entries]]
id = "ed2d9cec-3b6f-4798-adf8-459e2482ba28"
type = "fix"
description = "Fix cryptic error message that can occurr when the Cargo auth proxy is killed during startup. This usually occurred if a task relying on it was not executed and the build was aborted earlier. Now we make sure that the process is alive for at least 2 seconds before it is terminated."
author = "@NiklasRosenstein"

[[entries]]
id = "20e43a6b-866b-4da2-8e35-63650f8e99c1"
type = "breaking change"
description = "Redesign Cargo build graph; no longer do `cargo_build()` and `cargo_publish()` create their separate task to bump the Cargo version but instead a `cargo_bump_version()` task was added that belongs to the build support group. `cargoAuthProxy` now depends on `cargoSyncConfig.check` to ensure that the task does not run while the proxy is active as it injects configuration values into the same file."
author = "@NiklasRosenstein"

[[entries]]
id = "b7728061-9006-4cf5-a89b-f2f07b0c5fa0"
type = "fix"
description = "Fix an issue in `RenderFileTask` introduced in 0.1.46 if the target file does not exist, the internal cache was not populated when the task is executed and thus errored"
author = "@NiklasRosenstein"
