[[entries]]
id = "cfdd846b-6a9b-43f0-aa11-fa54ebcf06f5"
type = "tests"
description = "Test `PythonBuildSystem.build()` with `as_version` set for Slap/Poetry/Pdm"
author = "@NiklasRosenstein"

[[entries]]
id = "c3a6fd4d-163b-4bf8-9251-30cfc436a3b9"
type = "improvement"
description = "Adjust task property definitions to replace `Property.config()` with `Property.default()` and `Property.default_factory()`"
author = "@NiklasRosenstein"
pr = "https://github.com/kraken-build/kraken-build/pull/64"

[[entries]]
id = "15468abe-332f-480d-b287-db44bab5eea7"
type = "breaking change"
description = "Move Kraken task definitions in `kraken.std.docker` into `kraken.std.docker.tasks` module"
author = "@NiklasRosenstein"
pr = "https://github.com/kraken-build/kraken-build/pull/66"

[[entries]]
id = "285b0309-45f5-470d-9a51-e0a40052c033"
type = "feature"
description = "Add a `sidecar_container()` function to `kraken.std.docker`"
author = "@NiklasRosenstein"
