[[entries]]
id = "8027bd98-a4a6-4f99-b18d-93a40e3014ee"
type = "fix"
description = "Do not call `PdmPyprojectHandler.set_path_dependencies_to_version()` in `PDMPythonBuildSystem.build()` as its not yet supported."
author = "@NiklasRosenstein"
