[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "kraken-wrapper"
version = "0.2.4"
description = ""
authors = ["Unknown <me@unknown.org>"]
license = "MIT"
readme = "readme.md"
packages = [{ include = "kraken/wrapper", from = "src" }]
classifiers = []
keywords = []

[tool.poetry.urls]
# "Bug Tracker" = ""
# Documentation = ""
# Homepage = ""
# Repository = ""

[tool.poetry.dependencies]
python = ">=3.7,<3.11"
keyring = "^23.8.2"
kraken-common = "^0.5.2"
pex = "^2.1.103"
setuptools = ">=33.0.0"  # For pkg_resources
termcolor = "^1.1.0"

[tool.poetry.dev-dependencies]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pytest = "*"
types-setuptools = "^57.4.18"
types-termcolor = "^1.1.5"

[tool.poetry.scripts]
krakenw = "kraken.wrapper.main:main"

[tool.slap]
typed = true

[tool.slap.test]
check = "slap check"
mypy = "dmypy run src/"
pytest = "pytest tests/ -vv"
black = "black --check src/ tests/"
isort = "isort --check-only src/ tests/"
flake8 = "flake8 src/ tests/"

[tool.slap.run]
fmt = "black src/ tests/ && isort src/ tests/"

[tool.mypy]
python_version = "3.7"
explicit_package_bases = true
mypy_path = ["src"]
namespace_packages = true
pretty = true
show_error_codes = true
show_error_context = true
strict = true
warn_no_return = true
warn_redundant_casts = true
warn_unreachable = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = "pex.*"
ignore_missing_imports = true

# NOTE (@NiklasRosenstein): If we don't add this, we get an error when Mypy parses the vendored package, even
#       if it shouldn't complain about errors _inside_ dependencies.
#       See https://github.com/python/mypy/issues/12162#issuecomment-1212554729
[[tool.mypy.overrides]]
module = "kraken._vendor.dill.*"
ignore_errors = true

[tool.isort]
profile = "black"
line_length = 120
combine_as_imports = true

[tool.black]
line-length = 120
